body, html {
  height: 100%;
  margin: 0;
  font-family: cursive;
}

body {
  background-image: url("/static/imgs/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #cccccc;
}

.padding-top{
  padding-top: 15px;
}

.helptext{
  font-style: italic;
  font-size: 10px;
  font-weight: bold;
  color: #757489;
}

.form-label-group{
  padding-bottom: 15px;
}

.error{
  color: #ff0000;
  font-size: 12px;
  font-style: italic;
}

.signup, .signup:hover{
  color: #fff;
  text-decoration: none;
}

.navbar-brand{
  margin-right: 5px !important;
}

.mandatory{
  font-style: italic;
  font-size: 12px;
  color: #F79388;
}

.info{
  background: #d7d7d7;
  opacity: 0.75;
  color: #000000;
}

.blog-info{
  text-align: right;
  font-size: 12px;
  padding-bottom: 5px;
}

.blog-title{
  background: #3e686f;
  padding: 5px;
  color: #fff;
}

.blog-text{
  padding: 0.5em;
  margin: 0;
}

.tile{
  background: #fff;
  opacity: 0.7;
  border: 2px solid #ccc;
}

.tile:hover, .tile:focus {
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  transform: scale(1.05);
}

.tile-content {
  display: table-row;
}

.adjust-bottom{
  padding-bottom: 15px;
}

.blog-details{
  font-size: 10px;
  padding: 2%;
  text-decoration-line: underline;
}
.published{
  text-decoration-line: underline;
}

.blog-tab{
  font-size: 12px;
  margin: 1%;
  min-height: 80px;
  max-height: 80px;
  overflow: hidden;
}

.welcome{
  text-align: center;
  padding: 3%;
  opacity: 0.5;
  background: #cccccc;
  border-radius: 5px;
  box-shadow: 5px 5px 15px #626262;
  color: #ba1212;
}

.bottom-pad{
  padding-bottom: 15px;
}